 .u-section-1 {
  background-image: url("images/nn.jpg");
  background-position: 50% 50%;
  min-height: 850px;
}

.u-section-1 .u-layout-wrap-1 {
  width: calc(((100% - 1140px) / 2) + 1292px);
  margin: 0 auto 0 calc(((100% - 1140px) / 2) + -152px);
}

.u-section-1 .u-layout-cell-1 {
  min-height: 820px;
  --animation-custom_in-translate_x: -300px;
  --animation-custom_in-translate_y: 0px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
}

.u-section-1 .u-container-layout-1 {
  padding: 50px 14px;
}

.u-section-1 .u-layout-cell-2 {
  min-height: 820px;
  --animation-custom_in-translate_x: 300px;
  --animation-custom_in-translate_y: 0px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
}

.u-section-1 .u-container-layout-2 {
  padding: 0;
}

.u-section-1 .u-text-1 {
  font-size: 2.25rem;
  background-image: none;
  margin: 214px 387px 0 95px;
}

.u-section-1 .u-image-1 {
  object-position: 0% 50%;
  width: 407px;
  height: 329px;
  margin: 87px 0 0 auto;
}

.u-section-1 .u-btn-1 {
  text-transform: uppercase;
  letter-spacing: 2px;
  font-size: 0.875rem;
  align-self: center;
  background-image: none;
  text-align: center;
  font-weight: 700;
  border-style: solid;
  --animation-custom_in-translate_x: 0px;
  --animation-custom_in-translate_y: 0px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 0.3;
  margin: -233px auto 0 196px;
  padding: 20px 47px 20px 46px;
}

.u-section-1 .u-text-2 {
  margin: -56px 486px 0 auto;
}

.u-section-1 .u-image-2 {
  width: 29px;
  height: 29px;
  margin: -29px auto 0 544px;
}

.u-section-1 .u-image-3 {
  width: 28px;
  height: 28px;
  margin: -140px auto 0 543px;
}

.u-section-1 .u-image-4 {
  width: 31px;
  height: 28px;
  margin: 28px auto 0 543px;
}

.u-section-1 .u-image-5 {
  width: 206px;
  height: 206px;
  margin: -801px calc(((100% - 1140px) / 2) + 34px) 60px auto;
}

@media (max-width: 1199px) {
   .u-section-1 {
    min-height: 478px;
  }

  .u-section-1 .u-layout-wrap-1 {
    width: calc(((100% - 940px) / 2) + 940px);
    margin-left: calc(((100% - 940px) / 2));
  }

  .u-section-1 .u-layout-cell-1 {
    min-height: 644px;
  }

  .u-section-1 .u-layout-cell-2 {
    background-position: 0% 50%;
    min-height: 405px;
  }

  .u-section-1 .u-text-1 {
    margin-right: 0;
    margin-left: 0;
  }

  .u-section-1 .u-btn-1 {
    margin-left: 0;
  }

  .u-section-1 .u-text-2 {
    margin-right: 240px;
  }

  .u-section-1 .u-image-5 {
    margin-right: calc(((100% - 940px) / 2) + 34px);
  }
}

@media (max-width: 991px) {
   .u-section-1 {
    min-height: 338px;
  }

  .u-section-1 .u-layout-wrap-1 {
    width: calc(((100% - 720px) / 2) + 720px);
    margin-left: calc(((100% - 720px) / 2));
  }

  .u-section-1 .u-layout-cell-1 {
    min-height: 1345px;
  }

  .u-section-1 .u-container-layout-1 {
    padding-top: 30px;
    padding-bottom: 30px;
  }

  .u-section-1 .u-layout-cell-2 {
    min-height: 100px;
  }

  .u-section-1 .u-image-5 {
    margin-right: calc(((100% - 720px) / 2) + 34px);
  }
}

@media (max-width: 767px) {
   .u-section-1 {
    min-height: 5122px;
  }

  .u-section-1 .u-layout-wrap-1 {
    width: calc(((100% - 540px) / 2) + 540px);
    margin-left: calc(((100% - 540px) / 2));
  }

  .u-section-1 .u-layout-cell-1 {
    min-height: 1009px;
  }

  .u-section-1 .u-container-layout-1 {
    padding-right: 165px;
    padding-left: 10px;
  }

  .u-section-1 .u-text-1 {
    font-size: 1rem;
  }

  .u-section-1 .u-text-2 {
    margin-right: 180px;
  }

  .u-section-1 .u-image-2 {
    margin-left: 511px;
  }

  .u-section-1 .u-image-3 {
    margin-left: 512px;
  }

  .u-section-1 .u-image-4 {
    margin-left: 512px;
  }

  .u-section-1 .u-image-5 {
    margin-right: calc(((100% - 540px) / 2) + 34px);
  }
}

@media (max-width: 575px) {
   .u-section-1 {
    min-height: 3218px;
  }

  .u-section-1 .u-layout-wrap-1 {
    width: calc(((100% - 340px) / 2) + 340px);
    margin-left: calc(((100% - 340px) / 2));
  }

  .u-section-1 .u-layout-cell-1 {
    min-height: 635px;
  }

  .u-section-1 .u-container-layout-1 {
    padding-right: 55px;
  }

  .u-section-1 .u-image-1 {
    width: 340px;
    height: 275px;
  }

  .u-section-1 .u-btn-1 {
    margin-top: -179px;
  }

  .u-section-1 .u-text-2 {
    margin-right: 113px;
  }

  .u-section-1 .u-image-2 {
    margin-left: 311px;
  }

  .u-section-1 .u-image-3 {
    margin-left: 312px;
  }

  .u-section-1 .u-image-4 {
    margin-left: 312px;
  }

  .u-section-1 .u-image-5 {
    margin-right: calc(((100% - 340px) / 2) + 34px);
  }
} .u-section-2 {
  background-image: none;
}

.u-section-2 .u-sheet-1 {
  min-height: 561px;
}

.u-section-2 .u-text-1 {
  --animation-custom_in-translate_x: 0px;
  --animation-custom_in-translate_y: 0px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 0.21;
  margin: 54px auto 0;
}

.u-section-2 .u-list-1 {
  margin-top: 54px;
  margin-bottom: 0;
}

.u-section-2 .u-repeater-1 {
  grid-template-columns: repeat(3, 33.3333%);
  min-height: 401px;
  grid-gap: 0px;
}

.u-section-2 .u-list-item-1 {
  --animation-custom_in-translate_x: 0px;
  --animation-custom_in-translate_y: 300px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 0.3;
}

.u-section-2 .u-container-layout-1 {
  padding: 30px 0;
}

.u-section-2 .u-text-2 {
  font-weight: 700;
  font-size: 1.875rem;
  margin: 11px 20px 0;
}

.u-section-2 .u-text-3 {
  font-size: 1.25rem;
  line-height: 2.2;
  margin: 31px 20px 0;
}

.u-section-2 .u-list-item-2 {
  --animation-custom_in-translate_x: 0px;
  --animation-custom_in-translate_y: 300px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 0.3;
}

.u-section-2 .u-container-layout-2 {
  padding: 30px 0;
}

.u-section-2 .u-text-4 {
  font-weight: 700;
  font-size: 1.875rem;
  margin: 11px 20px 0;
}

.u-section-2 .u-text-5 {
  font-size: 1.25rem;
  line-height: 2.2;
  margin: 31px 20px 0;
}

.u-section-2 .u-list-item-3 {
  --animation-custom_in-translate_x: 0px;
  --animation-custom_in-translate_y: 300px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 0.3;
}

.u-section-2 .u-container-layout-3 {
  padding: 30px 0;
}

.u-section-2 .u-text-6 {
  font-weight: 700;
  font-size: 1.875rem;
  margin: 11px 20px 0;
}

.u-section-2 .u-text-7 {
  font-size: 1.25rem;
  line-height: 2.2;
  margin: 31px 20px 0;
}

@media (max-width: 1199px) {
  .u-section-2 .u-repeater-1 {
    grid-template-columns: repeat(3, 33.333333333333336%);
    min-height: 331px;
  }

  .u-section-2 .u-text-2 {
    margin-right: 0;
    margin-left: 0;
  }

  .u-section-2 .u-text-3 {
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-2 .u-text-4 {
    margin-right: 0;
    margin-left: 0;
  }

  .u-section-2 .u-text-5 {
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-2 .u-text-6 {
    margin-right: 0;
    margin-left: 0;
  }

  .u-section-2 .u-text-7 {
    margin-left: 0;
    margin-right: 0;
  }
}

@media (max-width: 991px) {
  .u-section-2 .u-repeater-1 {
    grid-template-columns: repeat(2, 50%);
    min-height: 761px;
  }
}

@media (max-width: 767px) {
  .u-section-2 .u-repeater-1 {
    grid-template-columns: 100%;
  }

  .u-section-2 .u-text-2 {
    font-size: 1rem;
  }

  .u-section-2 .u-text-4 {
    font-size: 1rem;
  }

  .u-section-2 .u-text-6 {
    font-size: 1rem;
  }
} .u-section-3 {
  background-image: url("images/pexels-pixabay-90764.jpg");
  background-position: 50% 50%;
}

.u-section-3 .u-sheet-1 {
  min-height: 733px;
}

.u-section-3 .u-text-1 {
  font-size: 2.75rem;
  text-shadow: 2px 2px 20px rgba(0,0,0,0.4);
  margin: 155px -28px 0 570px;
}

.u-section-3 .u-text-2 {
  font-size: 1.25rem;
  margin: 30px 0 60px 570px;
}

@media (max-width: 1199px) {
   .u-section-3 {
    background-position: 100% 37.88%;
    background-size: 115%;
  }

  .u-section-3 .u-sheet-1 {
    min-height: 604px;
  }

  .u-section-3 .u-text-1 {
    width: auto;
    margin-left: 370px;
  }

  .u-section-3 .u-text-2 {
    width: auto;
    margin-left: 370px;
  }
}

@media (max-width: 991px) {
   .u-section-3 {
    background-position: 92.42% 47.79%;
    background-size: auto 135%;
  }

  .u-section-3 .u-sheet-1 {
    min-height: 574px;
  }

  .u-section-3 .u-text-1 {
    margin-left: 209px;
  }

  .u-section-3 .u-text-2 {
    font-size: 1.125rem;
    margin-left: 209px;
  }
}

@media (max-width: 767px) {
   .u-section-3 {
    background-position: 65.98% 43.62%;
    background-size: auto 160%;
  }

  .u-section-3 .u-sheet-1 {
    min-height: 491px;
  }

  .u-section-3 .u-text-1 {
    font-size: 2.25rem;
    margin-left: 69px;
  }

  .u-section-3 .u-text-2 {
    margin-left: 69px;
  }
}

@media (max-width: 575px) {
   .u-section-3 {
    background-position: 39.71% 39.43%;
  }

  .u-section-3 .u-sheet-1 {
    min-height: 309px;
  }

  .u-section-3 .u-text-1 {
    font-size: 1.875rem;
    margin-left: 170px;
  }

  .u-section-3 .u-text-2 {
    margin-left: 170px;
  }
}.u-section-4 .u-sheet-1 {
  min-height: 640px;
}

.u-section-4 .u-text-1 {
  margin: 119px auto 0 39px;
}

.u-section-4 .u-image-1 {
  width: 711px;
  height: 144px;
  margin: 50px 203px 0 auto;
}

.u-section-4 .u-text-2 {
  margin: 130px 19px 60px;
}

@media (max-width: 991px) {
  .u-section-4 .u-image-1 {
    margin-right: 9px;
  }
}

@media (max-width: 767px) {
  .u-section-4 .u-sheet-1 {
    min-height: 605px;
  }

  .u-section-4 .u-image-1 {
    width: 540px;
    height: 109px;
    margin-right: 0;
  }
}

@media (max-width: 575px) {
  .u-section-4 .u-sheet-1 {
    min-height: 565px;
  }

  .u-section-4 .u-image-1 {
    width: 340px;
    height: 69px;
  }
}